In [1]:
# Import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('house-data-set-cleaned-3.csv')

In [6]:
df.head()

   Unnamed: 0  Location     Price  Beds  Baths  House Size  Land Size
0           0        35  12500000     4      2      1750.0        6.5
1           1        25  29500000     4      4      3510.0        9.0
2           2        28  19000000     4      3      2850.0        7.5
3           3        25  35000000     7      4      1700.0       15.0
4           4         4  29500000     5      4      3500.0        8.0

In [7]:
df.isnull().sum()

Unnamed: 0    0
Location      0
Price         0
Beds          0
Baths         0
House Size    0
Land Size     0
dtype: int64