In [18]:
import requests as r
from bs4 import BeautifulSoup as bs
import pandas as pd
from time import sleep

In [2]:
url = 'https://ikman.lk/en/ads/colombo/houses'

In [3]:
def fetch_page(url, page):
    res = r.get(url, params={'page': page, 'by_paying_member': 0, 'sort': 'date', 'order': 'desc'})
    return res.content;

In [4]:
def extract_house_url(content):
    soup = bs(content)
    url_container = soup.findAll('a', {'class': 'card-link--3ssYv'})
    urls = []
    for index in range(len(url_container)):
       try:
            urlDom = url_container[index]['href']
       except IndexError:
           continue
       urls.append('https://ikman.lk' + urlDom)
    return urls

In [5]:
con = fetch_page(url, 1)
# print(con)
urls = extract_house_url(con)
print(len(set(urls)))

28

In [6]:
page_max =223;
urls = []
error_pgs = []
for pg in range(1,224):
    try: 
        con = fetch_page(url, pg)
        urls = urls + extract_house_url(con)
    except:
        error_pgs.append(pg)
        print("error: " + str(pg))
    print(pg)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223

In [8]:
urls = list(set(urls))

In [9]:
urls[0]

'https://ikman.lk/en/ad/3-storeyed-house-for-sale-in-kolonnawa-for-sale-colombo'

In [10]:
import pickle

In [12]:
with open('urls_v2', 'wb') as file:
    pickle.dump(urls, file)

In [13]:
def extract_house(url):
    title= ''
    location= ''
    posted_date = ''
    description = ''
    beds = 0
    baths = 0
    price = 0
    house_size = '0.0 sqft'
    land_size = '0.0 perches'
    address = ''
    
    res = r.get(url)
    con = res.content;
    soup = bs(con)
    #contains title
    top_elem = soup.findAll('div', { 'class': 'item-top'})
    
    if (len(top_elem) > 0):
        top_elem = top_elem[0]
        title_elem = top_elem.find_all('h1')
        if (len(title_elem) > 0):
            title = title_elem[0].text
    #contains posted date and location
    intr_elem = soup.findAll('p', {'class': 'item-intro'})
    if (len(intr_elem) >0):
            intr_elem = intr_elem[0]
            posted_date_elem = intr_elem.find_all('span', {'class': 'date'})
            if (len(posted_date_elem) > 0):
                posted_date_elem = posted_date_elem[0]
                posted_date = posted_date_elem.text
            location_elem = intr_elem.find_all('span', {'class': 'location'})
            if (len(location_elem) > 0):
                location_elem = location_elem[0]
                location = location_elem.text
            price_elem = soup.findAll('span', {'class': 'amount'})
            if (len(price_elem) > 0):
                price_elem = price_elem[0]
                price = price_elem.text
            desc_elem = soup.findAll('div', {'class': 'item-description'})
            if (len(desc_elem) > 0):
                desc_elem = desc_elem[0]
                desc_elem = desc_elem.find_all('p')
                if (len(desc_elem) > 0):
                    desc_elem = desc_elem[0]
                    description = desc_elem.text
            prop_elem = soup.findAll('div', {'class': 'item-properties'})
            if (len(prop_elem) > 0):
                prop_elem = prop_elem[0]
                key_elem = prop_elem.find_all('dt')
                val_elem = prop_elem.find_all('dd')
                if(len(key_elem) > 0 and len(val_elem) > 0):
                    for index, key in enumerate(key_elem):
                        if (key.text == 'Address:'):
                            address = val_elem[index].text
                        if (key.text == 'Beds:'):
                            beds = val_elem[index].text
                        if (key.text == 'Baths:'):
                            baths = val_elem[index].text
                        if (key.text == 'House size:'):
                            house_size = val_elem[index].text
                        if (key.text == 'Land size:'):
                            land_size = val_elem[index].text   
    #return list in order title, posted date, location, price , description, address, beds, baths, house size, land size
    row = []
    row.append(title)
    row.append(posted_date)
    row.append(location)
    row.append(price)
    row.append(description)
    row.append(address)
    row.append(beds)
    row.append(baths)
    row.append(house_size)
    row.append(land_size)
    return row;

In [14]:
print(extract_house('https://ikman.lk/en/ad/architecturally-design-two-storied-house-athurugiriya-for-sale-colombo-4'))

['This item has been sold!', '', '', 0, '', '', 0, 0, '0.0 sqft', '0.0 perches']

In [15]:
df_data = []
missing_urls = []

In [16]:
for index, url in enumerate(urls):
    print(f'{index} of {len(urls)}')
    try:
        print()
        df_data.append(extract_house(url))
    except :
        missing_urls.append(url)

0 of 5147

1 of 5147

2 of 5147

3 of 5147

4 of 5147

5 of 5147

6 of 5147

7 of 5147

8 of 5147

9 of 5147

10 of 5147

11 of 5147

12 of 5147

13 of 5147

14 of 5147

15 of 5147

16 of 5147

17 of 5147

18 of 5147

19 of 5147

20 of 5147

21 of 5147

22 of 5147

23 of 5147

24 of 5147

25 of 5147

26 of 5147

27 of 5147

28 of 5147

29 of 5147

30 of 5147

31 of 5147

32 of 5147

33 of 5147

34 of 5147

35 of 5147

36 of 5147

37 of 5147

38 of 5147

39 of 5147

40 of 5147

41 of 5147

42 of 5147

43 of 5147

44 of 5147

45 of 5147

46 of 5147

47 of 5147

48 of 5147

49 of 5147

50 of 5147

51 of 5147

52 of 5147

53 of 5147

54 of 5147

55 of 5147

56 of 5147

57 of 5147

58 of 5147

59 of 5147

60 of 5147

61 of 5147

62 of 5147

63 of 5147

64 of 5147

65 of 5147

66 of 5147

67 of 5147

68 of 5147

69 of 5147

70 of 5147

71 of 5147

72 of 5147

73 of 5147

74 of 5147

75 of 5147

76 of 5147

77 of 5147

78 of 5147

79 of 5147

80 of 5147

81 of 5147

82 of 5147

83 of 5147

84 of 5147

85 of 5147

86 of 5147

87 of 5147

88 of 5147

89 of 5147

90 of 5147

91 of 5147

92 of 5147

93 of 5147

94 of 5147

95 of 5147

96 of 5147

97 of 5147

98 of 5147

99 of 5147

100 of 5147

101 of 5147

102 of 5147

103 of 5147

104 of 5147

105 of 5147

106 of 5147

107 of 5147

108 of 5147

109 of 5147

110 of 5147

111 of 5147

112 of 5147

113 of 5147

114 of 5147

115 of 5147

116 of 5147

117 of 5147

118 of 5147

119 of 5147

120 of 5147

121 of 5147

122 of 5147

123 of 5147

124 of 5147

125 of 5147

126 of 5147

127 of 5147

128 of 5147

129 of 5147

130 of 5147

131 of 5147

132 of 5147

133 of 5147

134 of 5147

135 of 5147

136 of 5147

137 of 5147

138 of 5147

139 of 5147

140 of 5147

141 of 5147

142 of 5147

143 of 5147

144 of 5147

145 of 5147

146 of 5147

147 of 5147

148 of 5147

149 of 5147

150 of 5147

151 of 5147

152 of 5147

153 of 5147

154 of 5147

155 of 5147

156 of 5147

157 of 5147

158 of 5147

159 of 5147

160 of 5147

161 of 5147

162 of 5147

163 of 5147

164 of 5147

165 of 5147

166 of 5147

167 of 5147

168 of 5147

169 of 5147

170 of 5147

171 of 5147

172 of 5147

173 of 5147

174 of 5147

175 of 5147

176 of 5147

177 of 5147

178 of 5147

179 of 5147

180 of 5147

181 of 5147

182 of 5147

183 of 5147

184 of 5147

185 of 5147

186 of 5147

187 of 5147

188 of 5147

189 of 5147

190 of 5147

191 of 5147

192 of 5147

193 of 5147

194 of 5147

195 of 5147

196 of 5147

197 of 5147

198 of 5147

199 of 5147

200 of 5147

201 of 5147

202 of 5147

203 of 5147

204 of 5147

205 of 5147

206 of 5147

207 of 5147

208 of 5147

209 of 5147

210 of 5147

211 of 5147

212 of 5147

213 of 5147

214 of 5147

215 of 5147

216 of 5147

217 of 5147

218 of 5147

219 of 5147

220 of 5147

221 of 5147

222 of 5147

223 of 5147

224 of 5147

225 of 5147

226 of 5147

227 of 5147

228 of 5147

229 of 5147

230 of 5147

231 of 5147

232 of 5147

233 of 5147

234 of 5147

235 of 5147

236 of 5147

237 of 5147

238 of 5147

239 of 5147

240 of 5147

241 of 5147

242 of 5147

243 of 5147

244 of 5147

245 of 5147

246 of 5147

247 of 5147

248 of 5147

249 of 5147

250 of 5147

251 of 5147

252 of 5147

253 of 5147

254 of 5147

255 of 5147

256 of 5147

257 of 5147

258 of 5147

259 of 5147

260 of 5147

261 of 5147

262 of 5147

263 of 5147

264 of 5147

265 of 5147

266 of 5147

267 of 5147

268 of 5147

269 of 5147

270 of 5147

271 of 5147

272 of 5147

273 of 5147

274 of 5147

275 of 5147

276 of 5147

277 of 5147

278 of 5147

279 of 5147

280 of 5147

281 of 5147

282 of 5147

283 of 5147

284 of 5147

285 of 5147

286 of 5147

287 of 5147

288 of 5147

289 of 5147

290 of 5147

291 of 5147

292 of 5147

293 of 5147

294 of 5147

295 of 5147

296 of 5147

297 of 5147

298 of 5147

299 of 5147

300 of 5147

301 of 5147

302 of 5147

303 of 5147

304 of 5147

305 of 5147

306 of 5147

307 of 5147

308 of 5147

309 of 5147

310 of 5147

311 of 5147

312 of 5147

313 of 5147

314 of 5147

315 of 5147

316 of 5147

317 of 5147

318 of 5147

319 of 5147

320 of 5147

321 of 5147

322 of 5147

323 of 5147

324 of 5147

325 of 5147

326 of 5147

327 of 5147

328 of 5147

329 of 5147

330 of 5147

331 of 5147

332 of 5147

333 of 5147

334 of 5147

335 of 5147

336 of 5147

337 of 5147

338 of 5147

339 of 5147

340 of 5147

341 of 5147

342 of 5147

343 of 5147

344 of 5147

345 of 5147

346 of 5147

347 of 5147

348 of 5147

349 of 5147

350 of 5147

351 of 5147

352 of 5147

353 of 5147

354 of 5147

355 of 5147

356 of 5147

357 of 5147

358 of 5147

359 of 5147

360 of 5147

361 of 5147

362 of 5147

363 of 5147

364 of 5147

365 of 5147

366 of 5147

367 of 5147

368 of 5147

369 of 5147

370 of 5147

371 of 5147

372 of 5147

373 of 5147

374 of 5147

375 of 5147

376 of 5147

377 of 5147

378 of 5147

379 of 5147

380 of 5147

381 of 5147

382 of 5147

383 of 5147

384 of 5147

385 of 5147

386 of 5147

387 of 5147

388 of 5147

389 of 5147

390 of 5147

391 of 5147

392 of 5147

393 of 5147

394 of 5147

395 of 5147

396 of 5147

397 of 5147

398 of 5147

399 of 5147

400 of 5147

401 of 5147

402 of 5147

403 of 5147

404 of 5147

405 of 5147

406 of 5147

407 of 5147

408 of 5147

409 of 5147

410 of 5147

411 of 5147

412 of 5147

413 of 5147

414 of 5147

415 of 5147

416 of 5147

417 of 5147

418 of 5147

419 of 5147

420 of 5147

421 of 5147

422 of 5147

423 of 5147

424 of 5147

425 of 5147

426 of 5147

427 of 5147

428 of 5147

429 of 5147

430 of 5147

431 of 5147

432 of 5147

433 of 5147

434 of 5147

435 of 5147

436 of 5147

437 of 5147

438 of 5147

439 of 5147

440 of 5147

441 of 5147

442 of 5147

443 of 5147

444 of 5147

445 of 5147

446 of 5147

447 of 5147

448 of 5147

449 of 5147

450 of 5147

451 of 5147

452 of 5147

453 of 5147

454 of 5147

455 of 5147

456 of 5147

457 of 5147

458 of 5147

459 of 5147

460 of 5147

461 of 5147

462 of 5147

463 of 5147

464 of 5147

465 of 5147

466 of 5147

467 of 5147

468 of 5147

469 of 5147

470 of 5147

471 of 5147

472 of 5147

473 of 5147

474 of 5147

475 of 5147

476 of 5147

477 of 5147

478 of 5147

479 of 5147

480 of 5147

481 of 5147

482 of 5147

483 of 5147

484 of 5147

485 of 5147

486 of 5147

487 of 5147

488 of 5147

489 of 5147

490 of 5147

491 of 5147

492 of 5147

493 of 5147

494 of 5147

495 of 5147

496 of 5147

497 of 5147

498 of 5147

499 of 5147

500 of 5147

501 of 5147

502 of 5147

503 of 5147

504 of 5147

505 of 5147

506 of 5147

507 of 5147

508 of 5147

509 of 5147

510 of 5147

511 of 5147

512 of 5147

513 of 5147

514 of 5147

515 of 5147

516 of 5147

517 of 5147

518 of 5147

519 of 5147

520 of 5147

521 of 5147

522 of 5147

523 of 5147

524 of 5147

525 of 5147

526 of 5147

527 of 5147

528 of 5147

529 of 5147

530 of 5147

531 of 5147

532 of 5147

533 of 5147

534 of 5147

535 of 5147

536 of 5147

537 of 5147

538 of 5147

539 of 5147

540 of 5147

541 of 5147

542 of 5147

543 of 5147

544 of 5147

545 of 5147

546 of 5147

547 of 5147

548 of 5147

549 of 5147

550 of 5147

551 of 5147

552 of 5147

553 of 5147

554 of 5147

555 of 5147

556 of 5147

557 of 5147

558 of 5147

559 of 5147

560 of 5147

561 of 5147

562 of 5147

563 of 5147

564 of 5147

565 of 5147

566 of 5147

567 of 5147

568 of 5147

569 of 5147

570 of 5147

571 of 5147

572 of 5147

573 of 5147

574 of 5147

575 of 5147

576 of 5147

577 of 5147

578 of 5147

579 of 5147

580 of 5147

581 of 5147

582 of 5147

583 of 5147

584 of 5147

585 of 5147

586 of 5147

587 of 5147

588 of 5147

589 of 5147

590 of 5147

591 of 5147

592 of 5147

593 of 5147

594 of 5147

595 of 5147

596 of 5147

597 of 5147

598 of 5147

599 of 5147

600 of 5147

601 of 5147

602 of 5147

603 of 5147

604 of 5147

605 of 5147

606 of 5147

607 of 5147

608 of 5147

609 of 5147

610 of 5147

611 of 5147

612 of 5147

613 of 5147

614 of 5147

615 of 5147

616 of 5147

617 of 5147

618 of 5147

619 of 5147

620 of 5147

621 of 5147

622 of 5147

623 of 5147

624 of 5147

625 of 5147

626 of 5147

627 of 5147

628 of 5147

629 of 5147

630 of 5147

631 of 5147

632 of 5147

633 of 5147

634 of 5147

635 of 5147

636 of 5147

637 of 5147

638 of 5147

639 of 5147

640 of 5147

641 of 5147

642 of 5147

643 of 5147

644 of 5147

645 of 5147

646 of 5147

647 of 5147

648 of 5147

649 of 5147

650 of 5147

651 of 5147

652 of 5147

653 of 5147

654 of 5147

655 of 5147

656 of 5147

657 of 5147

658 of 5147

659 of 5147

660 of 5147

661 of 5147

662 of 5147

663 of 5147

664 of 5147

665 of 5147

666 of 5147

667 of 5147

668 of 5147

669 of 5147

670 of 5147

671 of 5147

672 of 5147

673 of 5147

674 of 5147

675 of 5147

676 of 5147

677 of 5147

678 of 5147

679 of 5147

680 of 5147

681 of 5147

682 of 5147

683 of 5147

684 of 5147

685 of 5147

686 of 5147

687 of 5147

688 of 5147

689 of 5147

690 of 5147

691 of 5147

692 of 5147

693 of 5147

694 of 5147

695 of 5147

696 of 5147

697 of 5147

698 of 5147

699 of 5147

700 of 5147

701 of 5147

702 of 5147

703 of 5147

704 of 5147

705 of 5147

706 of 5147

707 of 5147

708 of 5147

709 of 5147

710 of 5147

711 of 5147

712 of 5147

713 of 5147

714 of 5147

715 of 5147

716 of 5147

717 of 5147

718 of 5147

719 of 5147

720 of 5147

721 of 5147

722 of 5147

723 of 5147

724 of 5147

725 of 5147

726 of 5147

727 of 5147

728 of 5147

729 of 5147

730 of 5147

731 of 5147

732 of 5147

733 of 5147

734 of 5147

735 of 5147

736 of 5147

737 of 5147

738 of 5147

739 of 5147

740 of 5147

741 of 5147

742 of 5147

743 of 5147

744 of 5147

745 of 5147

746 of 5147

747 of 5147

748 of 5147

749 of 5147

750 of 5147

751 of 5147

752 of 5147

753 of 5147

754 of 5147

755 of 5147

756 of 5147

757 of 5147

758 of 5147

759 of 5147

760 of 5147

761 of 5147

762 of 5147

763 of 5147

764 of 5147

765 of 5147

766 of 5147

767 of 5147

768 of 5147

769 of 5147

770 of 5147

771 of 5147

772 of 5147

773 of 5147

774 of 5147

775 of 5147

776 of 5147

777 of 5147

778 of 5147

779 of 5147

780 of 5147

781 of 5147

782 of 5147

783 of 5147

784 of 5147

785 of 5147

786 of 5147

787 of 5147

788 of 5147

789 of 5147

790 of 5147

791 of 5147

792 of 5147

793 of 5147

794 of 5147

795 of 5147

796 of 5147

797 of 5147

798 of 5147

799 of 5147

800 of 5147

801 of 5147

802 of 5147

803 of 5147

804 of 5147

805 of 5147

806 of 5147

807 of 5147

808 of 5147

809 of 5147

810 of 5147

811 of 5147

812 of 5147

813 of 5147

814 of 5147

815 of 5147

816 of 5147

817 of 5147

818 of 5147

819 of 5147

820 of 5147

821 of 5147

822 of 5147

823 of 5147

824 of 5147

825 of 5147

826 of 5147

827 of 5147

828 of 5147

829 of 5147

830 of 5147

831 of 5147

832 of 5147

833 of 5147

834 of 5147

835 of 5147

836 of 5147

837 of 5147

838 of 5147

839 of 5147

840 of 5147

841 of 5147

842 of 5147

843 of 5147

844 of 5147

845 of 5147

846 of 5147

847 of 5147

848 of 5147

849 of 5147

850 of 5147

851 of 5147

852 of 5147

853 of 5147

854 of 5147

855 of 5147

856 of 5147

857 of 5147

858 of 5147

859 of 5147

860 of 5147

861 of 5147

862 of 5147

863 of 5147

864 of 5147

865 of 5147

866 of 5147

867 of 5147

868 of 5147

869 of 5147

870 of 5147

871 of 5147

872 of 5147

873 of 5147

874 of 5147

875 of 5147

876 of 5147

877 of 5147

878 of 5147

879 of 5147

880 of 5147

881 of 5147

882 of 5147

883 of 5147

884 of 5147

885 of 5147

886 of 5147

887 of 5147

888 of 5147

889 of 5147

890 of 5147

891 of 5147

892 of 5147

893 of 5147

894 of 5147

895 of 5147

896 of 5147

897 of 5147

898 of 5147

899 of 5147

900 of 5147

901 of 5147

902 of 5147

903 of 5147

904 of 5147

905 of 5147

906 of 5147

907 of 5147

908 of 5147

909 of 5147

910 of 5147

911 of 5147

912 of 5147

913 of 5147

914 of 5147

915 of 5147

916 of 5147

917 of 5147

918 of 5147

919 of 5147

920 of 5147

921 of 5147

922 of 5147

923 of 5147

924 of 5147

925 of 5147

926 of 5147

927 of 5147

928 of 5147

929 of 5147

930 of 5147

931 of 5147

932 of 5147

933 of 5147

934 of 5147

935 of 5147

936 of 5147

937 of 5147

938 of 5147

939 of 5147

940 of 5147

941 of 5147

942 of 5147

943 of 5147

944 of 5147

945 of 5147

946 of 5147

947 of 5147

948 of 5147

949 of 5147

950 of 5147

951 of 5147

952 of 5147

953 of 5147

954 of 5147

955 of 5147

956 of 5147

957 of 5147

958 of 5147

959 of 5147

960 of 5147

961 of 5147

962 of 5147

963 of 5147

964 of 5147

965 of 5147

966 of 5147

967 of 5147

968 of 5147

969 of 5147

970 of 5147

971 of 5147

972 of 5147

973 of 5147

974 of 5147

975 of 5147

976 of 5147

977 of 5147

978 of 5147

979 of 5147

980 of 5147

981 of 5147

982 of 5147

983 of 5147

984 of 5147

985 of 5147

986 of 5147

987 of 5147

988 of 5147

989 of 5147

990 of 5147

991 of 5147

992 of 5147

993 of 5147

994 of 5147

995 of 5147

996 of 5147

997 of 5147

998 of 5147

999 of 5147

1000 of 5147

1001 of 5147

1002 of 5147

1003 of 5147

1004 of 5147

1005 of 5147

1006 of 5147

1007 of 5147

1008 of 5147

1009 of 5147

1010 of 5147

1011 of 5147

1012 of 5147

1013 of 5147

1014 of 5147

1015 of 5147

1016 of 5147

1017 of 5147

1018 of 5147

1019 of 5147

1020 of 5147

1021 of 5147

1022 of 5147

1023 of 5147

1024 of 5147

1025 of 5147

1026 of 5147

1027 of 5147

1028 of 5147

1029 of 5147

1030 of 5147

1031 of 5147

1032 of 5147

1033 of 5147

1034 of 5147

1035 of 5147

1036 of 5147

1037 of 5147

1038 of 5147

1039 of 5147

1040 of 5147

1041 of 5147

1042 of 5147

1043 of 5147

1044 of 5147

1045 of 5147

1046 of 5147

1047 of 5147

1048 of 5147

1049 of 5147

1050 of 5147

1051 of 5147

1052 of 5147

1053 of 5147

1054 of 5147

1055 of 5147

1056 of 5147

1057 of 5147

1058 of 5147

1059 of 5147

1060 of 5147

1061 of 5147

1062 of 5147

1063 of 5147

1064 of 5147

1065 of 5147

1066 of 5147

1067 of 5147

1068 of 5147

1069 of 5147

1070 of 5147

1071 of 5147

1072 of 5147

1073 of 5147

1074 of 5147

1075 of 5147

1076 of 5147

1077 of 5147

1078 of 5147

1079 of 5147

1080 of 5147

1081 of 5147

1082 of 5147

1083 of 5147

1084 of 5147

1085 of 5147

1086 of 5147

1087 of 5147

1088 of 5147

1089 of 5147

1090 of 5147

1091 of 5147

1092 of 5147

1093 of 5147

1094 of 5147

1095 of 5147

1096 of 5147

1097 of 5147

1098 of 5147

1099 of 5147

1100 of 5147

1101 of 5147

1102 of 5147

1103 of 5147

1104 of 5147

1105 of 5147

1106 of 5147

1107 of 5147

1108 of 5147

1109 of 5147

1110 of 5147

1111 of 5147

1112 of 5147

1113 of 5147

1114 of 5147

1115 of 5147

1116 of 5147

1117 of 5147

1118 of 5147

1119 of 5147

1120 of 5147

1121 of 5147

1122 of 5147

1123 of 5147

1124 of 5147

1125 of 5147

1126 of 5147

1127 of 5147

1128 of 5147

1129 of 5147

1130 of 5147

1131 of 5147

1132 of 5147

1133 of 5147

1134 of 5147

1135 of 5147

1136 of 5147

1137 of 5147

1138 of 5147

1139 of 5147

1140 of 5147

1141 of 5147

1142 of 5147

1143 of 5147

1144 of 5147

1145 of 5147

1146 of 5147

1147 of 5147

1148 of 5147

1149 of 5147

1150 of 5147

1151 of 5147

1152 of 5147

1153 of 5147

1154 of 5147

1155 of 5147

1156 of 5147

1157 of 5147

1158 of 5147

1159 of 5147

1160 of 5147

1161 of 5147

1162 of 5147

1163 of 5147

1164 of 5147

1165 of 5147

1166 of 5147

1167 of 5147

1168 of 5147

1169 of 5147

1170 of 5147

1171 of 5147

1172 of 5147

1173 of 5147

1174 of 5147

1175 of 5147

1176 of 5147

1177 of 5147

1178 of 5147

1179 of 5147

1180 of 5147

1181 of 5147

1182 of 5147

1183 of 5147

1184 of 5147

1185 of 5147

1186 of 5147

1187 of 5147

1188 of 5147

1189 of 5147

1190 of 5147

1191 of 5147

1192 of 5147

1193 of 5147

1194 of 5147

1195 of 5147

1196 of 5147

1197 of 5147

1198 of 5147

1199 of 5147

1200 of 5147

1201 of 5147

1202 of 5147

1203 of 5147

1204 of 5147

1205 of 5147

1206 of 5147

1207 of 5147

1208 of 5147

1209 of 5147

1210 of 5147

1211 of 5147

1212 of 5147

1213 of 5147

1214 of 5147

1215 of 5147

1216 of 5147

1217 of 5147

1218 of 5147

1219 of 5147

1220 of 5147

1221 of 5147

1222 of 5147

1223 of 5147

1224 of 5147

1225 of 5147

1226 of 5147

1227 of 5147

1228 of 5147

1229 of 5147

1230 of 5147

1231 of 5147

1232 of 5147

1233 of 5147

1234 of 5147

1235 of 5147

1236 of 5147

1237 of 5147

1238 of 5147

1239 of 5147

1240 of 5147

1241 of 5147

1242 of 5147

1243 of 5147

1244 of 5147

1245 of 5147

1246 of 5147

1247 of 5147

1248 of 5147

1249 of 5147

1250 of 5147

1251 of 5147

1252 of 5147

1253 of 5147

1254 of 5147

1255 of 5147

1256 of 5147

1257 of 5147

1258 of 5147

1259 of 5147

1260 of 5147

1261 of 5147

1262 of 5147

1263 of 5147

1264 of 5147

1265 of 5147

1266 of 5147

1267 of 5147

1268 of 5147

1269 of 5147

1270 of 5147

1271 of 5147

1272 of 5147

1273 of 5147

1274 of 5147

1275 of 5147

1276 of 5147

1277 of 5147

1278 of 5147

1279 of 5147

1280 of 5147

1281 of 5147

1282 of 5147

1283 of 5147

1284 of 5147

1285 of 5147

1286 of 5147

1287 of 5147

1288 of 5147

1289 of 5147

1290 of 5147

1291 of 5147

1292 of 5147

1293 of 5147

1294 of 5147

1295 of 5147

1296 of 5147

1297 of 5147

1298 of 5147

1299 of 5147

1300 of 5147

1301 of 5147

1302 of 5147

1303 of 5147

1304 of 5147

1305 of 5147

1306 of 5147

1307 of 5147

1308 of 5147

1309 of 5147

1310 of 5147

1311 of 5147

1312 of 5147

1313 of 5147

1314 of 5147

1315 of 5147

1316 of 5147

1317 of 5147

1318 of 5147

1319 of 5147

1320 of 5147

1321 of 5147

1322 of 5147

1323 of 5147

1324 of 5147

1325 of 5147

1326 of 5147

1327 of 5147

1328 of 5147

1329 of 5147

1330 of 5147

1331 of 5147

1332 of 5147

1333 of 5147

1334 of 5147

1335 of 5147

1336 of 5147

1337 of 5147

1338 of 5147

1339 of 5147

1340 of 5147

1341 of 5147

1342 of 5147

1343 of 5147

1344 of 5147

1345 of 5147

1346 of 5147

1347 of 5147

1348 of 5147

1349 of 5147

1350 of 5147

1351 of 5147

1352 of 5147

1353 of 5147

1354 of 5147

1355 of 5147

1356 of 5147

1357 of 5147

1358 of 5147

1359 of 5147

1360 of 5147

1361 of 5147

1362 of 5147

1363 of 5147

1364 of 5147

1365 of 5147

1366 of 5147

1367 of 5147

1368 of 5147

1369 of 5147

1370 of 5147

1371 of 5147

1372 of 5147

1373 of 5147

1374 of 5147

1375 of 5147

1376 of 5147

1377 of 5147

1378 of 5147

1379 of 5147

1380 of 5147

1381 of 5147

1382 of 5147

1383 of 5147

1384 of 5147

1385 of 5147

1386 of 5147

1387 of 5147

1388 of 5147

1389 of 5147

1390 of 5147

1391 of 5147

1392 of 5147

1393 of 5147

1394 of 5147

1395 of 5147

1396 of 5147

1397 of 5147

1398 of 5147

1399 of 5147

1400 of 5147

1401 of 5147

1402 of 5147

1403 of 5147

1404 of 5147

1405 of 5147

1406 of 5147

1407 of 5147

1408 of 5147

1409 of 5147

1410 of 5147

1411 of 5147

1412 of 5147

1413 of 5147

1414 of 5147

1415 of 5147

1416 of 5147

1417 of 5147

1418 of 5147

1419 of 5147

1420 of 5147

1421 of 5147

1422 of 5147

1423 of 5147

1424 of 5147

1425 of 5147

1426 of 5147

1427 of 5147

1428 of 5147

1429 of 5147

1430 of 5147

1431 of 5147

1432 of 5147

1433 of 5147

1434 of 5147

1435 of 5147

1436 of 5147

1437 of 5147

1438 of 5147

1439 of 5147

1440 of 5147

1441 of 5147

1442 of 5147

1443 of 5147

1444 of 5147

1445 of 5147

1446 of 5147

1447 of 5147

1448 of 5147

1449 of 5147

1450 of 5147

1451 of 5147

1452 of 5147

1453 of 5147

1454 of 5147

1455 of 5147

1456 of 5147

1457 of 5147

1458 of 5147

1459 of 5147

1460 of 5147

1461 of 5147

1462 of 5147

1463 of 5147

1464 of 5147

1465 of 5147

1466 of 5147

1467 of 5147

1468 of 5147

1469 of 5147

1470 of 5147

1471 of 5147

1472 of 5147

1473 of 5147

1474 of 5147

1475 of 5147

1476 of 5147

1477 of 5147

1478 of 5147

1479 of 5147

1480 of 5147

1481 of 5147

1482 of 5147

1483 of 5147

1484 of 5147

1485 of 5147

1486 of 5147

1487 of 5147

1488 of 5147

1489 of 5147

1490 of 5147

1491 of 5147

1492 of 5147

1493 of 5147

1494 of 5147

1495 of 5147

1496 of 5147

1497 of 5147

1498 of 5147

1499 of 5147

1500 of 5147

1501 of 5147

1502 of 5147

1503 of 5147

1504 of 5147

1505 of 5147

1506 of 5147


In [ ]:
len(missing_urls)

In [ ]:
len(df_data)

In [18]:
try:
    df = pd.DataFrame(df_data)
    df.to_csv( r"/" + 'house-data-set' + '.csv')
    print("success csv" + " " + dir)
except TypeError:
        print('Exception in writing csv file')

Exception in writing csv file

In [20]:
df = pd.DataFrame(df_data)
df.to_csv( r"./" + 'house-data-set_v1' + '.csv')

Merge 2 data sets

In [21]:
df_old = pd.read_csv('./data_set_column_adjusted.csv')

In [22]:
df_old.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9
0,0,New House for Sale in Piliyandala,10 Aug 7:49 pm,"Piliyandala, Colombo",12500000,devid pieris ...,NaN,4,2,"1,750.0 sqft",6.5 perches
1,1,Brand New Luxury Two Storey House Piliyanadala,2 Jul 8:33 am,"Kottawa, Colombo",29500000,Brand new luxury two storey house for sale in ...,kottawa 255 piliyanadala Road,4,4,"3,510.0 sqft",9.0 perches
2,2,Brand New 3 Storied House for Sale in Malabe,16 Aug 8:14 pm,"Malabe, Colombo",19000000,Brand New 3 storied house for sale at malabe ....,malabe,4,3,"2,850.0 sqft",7.5 perches
3,3,House for sale - Kottawa,16 Aug 8:32 pm,"Kottawa, Colombo",35000000,House for sale in Kottawa===================,NaN,7,4,"1,700.0 sqft",15.0 perches
4,4,Brand New Luxury House for sale in Boralesgamuwa,8 Aug 7:51 pm,"Boralesgamuwa, Colombo",29500000,"Brand New, 3 Storied 5 Bed Room House for Sale...",NaN,5,4,"3,500.0 sqft",8.0 perches

In [23]:
df_new = pd.read_csv('./house-data-set-modified.csv')

In [24]:
df_new.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9
0,0,House for Sale Mount Lavinia,1 Feb 8:16 pm,"Mount Lavinia, Colombo",22000000,Fully tiled house 1 vehicle parking inside the...,mountlavina uludhagoda road,3,2,"2,500.0 sqft",6.5 perches
1,1,Brand New Luxury Type Architect Designed House...,1 Feb 7:11 pm,"Malabe, Colombo",24000000,"2 Storey House for Sale in Amaragoda rd, sand...","Malabe, sandoris jayantha mw",4,4,"2,600.0 sqft",8.0 perches
2,2,House for Sale in Piliyandala,30 Jan 3:24 pm,"Piliyandala, Colombo",16900000,"Off Madapatha Road Hillcrest Estate, gated com...",NaN,3,2,"1,000.0 sqft",12.5 perches
3,3,House for Sale in Kawdana Dehiwala,1 Feb 7:07 pm,"Dehiwala, Colombo",30000000,"DetailsProperty Type:Price: Rs. 30,000,000 ($ ...",Palliyadora Road Kawdana,3,3,"2,000.0 sqft",10.0 perches
4,4,Brand New House For Sale In Malabe,4 Jan 7:07 pm,"Malabe, Colombo",10800000,Brand New Single Storied House for Sale @ Mala...,"Robat Gunawardena Mawatha,Malabe",3,3,"1,250.0 sqft",6.5 perches

In [39]:
df_merged = pd.concat([df_old, df_new], ignore_index=True)

In [40]:
df_merged.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9
0,0,New House for Sale in Piliyandala,10 Aug 7:49 pm,"Piliyandala, Colombo",12500000,devid pieris ...,NaN,4,2,"1,750.0 sqft",6.5 perches
1,1,Brand New Luxury Two Storey House Piliyanadala,2 Jul 8:33 am,"Kottawa, Colombo",29500000,Brand new luxury two storey house for sale in ...,kottawa 255 piliyanadala Road,4,4,"3,510.0 sqft",9.0 perches
2,2,Brand New 3 Storied House for Sale in Malabe,16 Aug 8:14 pm,"Malabe, Colombo",19000000,Brand New 3 storied house for sale at malabe ....,malabe,4,3,"2,850.0 sqft",7.5 perches
3,3,House for sale - Kottawa,16 Aug 8:32 pm,"Kottawa, Colombo",35000000,House for sale in Kottawa===================,NaN,7,4,"1,700.0 sqft",15.0 perches
4,4,Brand New Luxury House for sale in Boralesgamuwa,8 Aug 7:51 pm,"Boralesgamuwa, Colombo",29500000,"Brand New, 3 Storied 5 Bed Room House for Sale...",NaN,5,4,"3,500.0 sqft",8.0 perches

In [41]:
df_merged.shape

(7612, 11)

In [42]:
cols = ['Title', 'Posted Date', 'Location', 'Price', 'Description', 'Address', 'Beds', 'Baths', 'House Size', 'Land Size']

In [46]:
df_new_cols = pd.concat([df_merged['0'],df_merged['1'], df_merged['2'], df_merged['3'], df_merged['4'], df_merged['5'], df_merged['6'], df_merged['7'], 
                        df_merged['8'], df_merged['9']], axis=1)

In [48]:
df_new_cols.columns = cols

In [49]:
df_new_cols

,Title,Posted Date,Location,Price,Description,Address,Beds,Baths,House Size,Land Size
0,New House for Sale in Piliyandala,10 Aug 7:49 pm,"Piliyandala, Colombo",12500000,devid pieris ...,NaN,4,2,"1,750.0 sqft",6.5 perches
1,Brand New Luxury Two Storey House Piliyanadala,2 Jul 8:33 am,"Kottawa, Colombo",29500000,Brand new luxury two storey house for sale in ...,kottawa 255 piliyanadala Road,4,4,"3,510.0 sqft",9.0 perches
2,Brand New 3 Storied House for Sale in Malabe,16 Aug 8:14 pm,"Malabe, Colombo",19000000,Brand New 3 storied house for sale at malabe ....,malabe,4,3,"2,850.0 sqft",7.5 perches
3,House for sale - Kottawa,16 Aug 8:32 pm,"Kottawa, Colombo",35000000,House for sale in Kottawa===================,NaN,7,4,"1,700.0 sqft",15.0 perches
4,Brand New Luxury House for sale in Boralesgamuwa,8 Aug 7:51 pm,"Boralesgamuwa, Colombo",29500000,"Brand New, 3 Storied 5 Bed Room House for Sale...",NaN,5,4,"3,500.0 sqft",8.0 perches
...,...,...,...,...,...,...,...,...,...,...
7607,House with Land for Sale in Nawala,1 Feb 7:26 am,"Nawala, Colombo",27000000,-Land with a house for sale-Only land value co...,"De Mel Watta Road, Koswatta",3,1,"2,500.0 sqft",9.0 perches
7608,Two Story House for Sale - Kohuwala,1 Feb 8:01 pm,"Kohuwala, Colombo",115000000,Two storey house for sale 5 bedrooms 5 bathroo...,s.de.s jayasinghe road kohuwala,5,5,"4,000.0 sqft",15.5 perches
7609,Brand New Luxury House at Kottawa Rd. Piliyandala,24 Jan 7:29 am,"Piliyandala, Colombo",13700000,Brand new luxury house at kottawa rd. piliyand...,kottawa rd. piliyandala,3,3,"1,456.0 sqft",10.0 perches
7610,2 Storey Facing Paddy Fields House for Sale Ba...,2 Feb 10:30 am,"Battaramulla, Colombo",35000000,2 Storey House Sale is overlooking vast paddy ...,Thalangama North Battharamulla,4,4,"4,200.0 sqft",12.0 perches
7611,Luxury Two Story House Sale For Thalahena,7 Dec 11:37 am,"Battaramulla, Colombo",38000000,Luxury Two Story House Sale For Thalahena,"Muththttugoda Road, Thalahena",4,4,"2,930.0 sqft",10.0 perches

In [50]:
df_new_cols.to_csv( r"./" + 'house-data-set-right-header' + '.csv')

In [53]:
df_new_cols['House Size'] = df_new_cols['House Size'].apply(lambda x: str(x).replace('sqft', ''))

In [54]:
df_new_cols['Land Size'] = df_new_cols['Land Size'].apply(lambda x: str(x).replace('perches', ''))

In [55]:
df_new_cols.head()

,Title,Posted Date,Location,Price,Description,Address,Beds,Baths,House Size,Land Size
0,New House for Sale in Piliyandala,10 Aug 7:49 pm,"Piliyandala, Colombo",12500000,devid pieris ...,NaN,4,2,"1,750.0",6.5
1,Brand New Luxury Two Storey House Piliyanadala,2 Jul 8:33 am,"Kottawa, Colombo",29500000,Brand new luxury two storey house for sale in ...,kottawa 255 piliyanadala Road,4,4,"3,510.0",9.0
2,Brand New 3 Storied House for Sale in Malabe,16 Aug 8:14 pm,"Malabe, Colombo",19000000,Brand New 3 storied house for sale at malabe ....,malabe,4,3,"2,850.0",7.5
3,House for sale - Kottawa,16 Aug 8:32 pm,"Kottawa, Colombo",35000000,House for sale in Kottawa===================,NaN,7,4,"1,700.0",15.0
4,Brand New Luxury House for sale in Boralesgamuwa,8 Aug 7:51 pm,"Boralesgamuwa, Colombo",29500000,"Brand New, 3 Storied 5 Bed Room House for Sale...",NaN,5,4,"3,500.0",8.0

In [56]:
df_new_cols.isnull().sum()

Title            3
Posted Date      3
Location         3
Price            0
Description      3
Address        944
Beds             0
Baths            0
House Size       0
Land Size        0
dtype: int64

In [57]:
df_new_cols['Location'] = df_new_cols['Location'].apply(lambda x: str(x).replace(', Colombo', ''))

In [58]:
df_new_cols

,Title,Posted Date,Location,Price,Description,Address,Beds,Baths,House Size,Land Size
0,New House for Sale in Piliyandala,10 Aug 7:49 pm,Piliyandala,12500000,devid pieris ...,NaN,4,2,"1,750.0",6.5
1,Brand New Luxury Two Storey House Piliyanadala,2 Jul 8:33 am,Kottawa,29500000,Brand new luxury two storey house for sale in ...,kottawa 255 piliyanadala Road,4,4,"3,510.0",9.0
2,Brand New 3 Storied House for Sale in Malabe,16 Aug 8:14 pm,Malabe,19000000,Brand New 3 storied house for sale at malabe ....,malabe,4,3,"2,850.0",7.5
3,House for sale - Kottawa,16 Aug 8:32 pm,Kottawa,35000000,House for sale in Kottawa===================,NaN,7,4,"1,700.0",15.0
4,Brand New Luxury House for sale in Boralesgamuwa,8 Aug 7:51 pm,Boralesgamuwa,29500000,"Brand New, 3 Storied 5 Bed Room House for Sale...",NaN,5,4,"3,500.0",8.0
...,...,...,...,...,...,...,...,...,...,...
7607,House with Land for Sale in Nawala,1 Feb 7:26 am,Nawala,27000000,-Land with a house for sale-Only land value co...,"De Mel Watta Road, Koswatta",3,1,"2,500.0",9.0
7608,Two Story House for Sale - Kohuwala,1 Feb 8:01 pm,Kohuwala,115000000,Two storey house for sale 5 bedrooms 5 bathroo...,s.de.s jayasinghe road kohuwala,5,5,"4,000.0",15.5
7609,Brand New Luxury House at Kottawa Rd. Piliyandala,24 Jan 7:29 am,Piliyandala,13700000,Brand new luxury house at kottawa rd. piliyand...,kottawa rd. piliyandala,3,3,"1,456.0",10.0
7610,2 Storey Facing Paddy Fields House for Sale Ba...,2 Feb 10:30 am,Battaramulla,35000000,2 Storey House Sale is overlooking vast paddy ...,Thalangama North Battharamulla,4,4,"4,200.0",12.0
7611,Luxury Two Story House Sale For Thalahena,7 Dec 11:37 am,Battaramulla,38000000,Luxury Two Story House Sale For Thalahena,"Muththttugoda Road, Thalahena",4,4,"2,930.0",10.0

In [60]:
df_new_cols.isnull().sum()

Title            3
Posted Date      3
Location         0
Price            0
Description      3
Address        944
Beds             0
Baths            0
House Size       0
Land Size        0
dtype: int64

In [102]:
df_visible_features = pd.concat([df_new_cols['Location'], df_new_cols['Price'], df_new_cols['Beds'], df_new_cols['Baths'],
                                df_new_cols['House Size'], df_new_cols['Land Size']], axis =1)

In [103]:
df_visible_features.head()

        Location     Price  Beds  Baths House Size Land Size
0    Piliyandala  12500000     4      2   1,750.0       6.5
1        Kottawa  29500000     4      4   3,510.0       9.0
2         Malabe  19000000     4      3   2,850.0       7.5
3        Kottawa  35000000     7      4   1,700.0      15.0
4  Boralesgamuwa  29500000     5      4   3,500.0       8.0

In [104]:
type(df_visible_features.head(1)['Land Size'][0])

str

In [105]:
df_visible_features['House Size'] = df_visible_features['House Size'].apply(lambda x:  float(str(x).replace(',', '')))

In [106]:
df_visible_features.head()

        Location     Price  Beds  Baths  House Size Land Size
0    Piliyandala  12500000     4      2      1750.0      6.5
1        Kottawa  29500000     4      4      3510.0      9.0
2         Malabe  19000000     4      3      2850.0      7.5
3        Kottawa  35000000     7      4      1700.0     15.0
4  Boralesgamuwa  29500000     5      4      3500.0      8.0

In [107]:
df_visible_features['Land Size'] = df_visible_features['Land Size'].apply(lambda x:  {float(str(x).replace(',', '')))

SyntaxError: invalid syntax (<ipython-input-107-7a1bd216c19d>, line 1)

In [49]:
def landsize_converter(x):
    is_acres = False
#     x.replace(',', '')
    if 'acres' in x:
        x = x.replace('acres','')
        is_acres = True
    if ',' in x:
       x=  x.replace(',', '')
    if is_acres:
        x = 160 * float(x)
        return x
    else:
        x = float(x)
        return x

In [126]:
df_visible_features['Land Size'] = df_visible_features['Land Size'].apply(lambda x:  landsize_converter(str(x)))

In [127]:
df_visible_features.describe()

              Price         Beds        Baths     House Size      Land Size
count  7.609000e+03  7609.000000  7609.000000    7609.000000    7609.000000
mean   3.109433e+07     3.972795     3.141937    2778.529263      33.444613
std    4.069530e+07     1.186553     1.232166    2668.220947    1835.793791
min    8.500000e+04     1.000000     1.000000     174.240000       1.000000
25%    1.500000e+07     3.000000     2.000000    1750.000000       7.500000
50%    2.200000e+07     4.000000     3.000000    2600.000000       9.600000
75%    3.200000e+07     5.000000     4.000000    3250.000000      11.600000
max    1.300000e+09    10.000000    10.000000  140000.000000  160000.000000

In [128]:
df_visible_features.head()

        Location     Price  Beds  Baths  House Size  Land Size
0    Piliyandala  12500000     4      2      1750.0        6.5
1        Kottawa  29500000     4      4      3510.0        9.0
2         Malabe  19000000     4      3      2850.0        7.5
3        Kottawa  35000000     7      4      1700.0       15.0
4  Boralesgamuwa  29500000     5      4      3500.0        8.0

In [129]:
df_visible_features = df_visible_features.drop((df_visible_features[df_visible_features['Price'] == 0]).index, axis=0)

In [130]:
df_visible_features.describe()

              Price         Beds        Baths     House Size      Land Size
count  7.609000e+03  7609.000000  7609.000000    7609.000000    7609.000000
mean   3.109433e+07     3.972795     3.141937    2778.529263      33.444613
std    4.069530e+07     1.186553     1.232166    2668.220947    1835.793791
min    8.500000e+04     1.000000     1.000000     174.240000       1.000000
25%    1.500000e+07     3.000000     2.000000    1750.000000       7.500000
50%    2.200000e+07     4.000000     3.000000    2600.000000       9.600000
75%    3.200000e+07     5.000000     4.000000    3250.000000      11.600000
max    1.300000e+09    10.000000    10.000000  140000.000000  160000.000000

In [131]:
df_visible_features.to_csv(r'./house_data_set_cleaned_2.csv')

In [132]:
df_check = pd.read_csv('./house_data_set_cleaned_2.csv')

In [133]:
df_check.describe()

,Unnamed: 0,Price,Beds,Baths,House Size,Land Size
count,7609.000000,7.609000e+03,7609.000000,7609.000000,7609.000000,7609.000000
mean,3805.459193,3.109433e+07,3.972795,3.141937,2778.529263,33.444613
std,2197.852576,4.069530e+07,1.186553,1.232166,2668.220947,1835.793791
min,0.000000,8.500000e+04,1.000000,1.000000,174.240000,1.000000
25%,1902.000000,1.500000e+07,3.000000,2.000000,1750.000000,7.500000
50%,3805.000000,2.200000e+07,4.000000,3.000000,2600.000000,9.600000
75%,5709.000000,3.200000e+07,5.000000,4.000000,3250.000000,11.600000
max,7611.000000,1.300000e+09,10.000000,10.000000,140000.000000,160000.000000

In [134]:
df_check.head()

   Unnamed: 0       Location     Price  Beds  Baths  House Size  Land Size
0           0    Piliyandala  12500000     4      2      1750.0        6.5
1           1        Kottawa  29500000     4      4      3510.0        9.0
2           2         Malabe  19000000     4      3      2850.0        7.5
3           3        Kottawa  35000000     7      4      1700.0       15.0
4           4  Boralesgamuwa  29500000     5      4      3500.0        8.0

In [20]:
df_old = pd.read_csv('house-data-set-right-header' + '.csv')

In [21]:
df_old

,Unnamed: 0,Title,Posted Date,Location,Price,Description,Address,Beds,Baths,House Size,Land Size
0,0,New House for Sale in Piliyandala,10 Aug 7:49 pm,"Piliyandala, Colombo",12500000,devid pieris ...,NaN,4,2,"1,750.0 sqft",6.5 perches
1,1,Brand New Luxury Two Storey House Piliyanadala,2 Jul 8:33 am,"Kottawa, Colombo",29500000,Brand new luxury two storey house for sale in ...,kottawa 255 piliyanadala Road,4,4,"3,510.0 sqft",9.0 perches
2,2,Brand New 3 Storied House for Sale in Malabe,16 Aug 8:14 pm,"Malabe, Colombo",19000000,Brand New 3 storied house for sale at malabe ....,malabe,4,3,"2,850.0 sqft",7.5 perches
3,3,House for sale - Kottawa,16 Aug 8:32 pm,"Kottawa, Colombo",35000000,House for sale in Kottawa===================,NaN,7,4,"1,700.0 sqft",15.0 perches
4,4,Brand New Luxury House for sale in Boralesgamuwa,8 Aug 7:51 pm,"Boralesgamuwa, Colombo",29500000,"Brand New, 3 Storied 5 Bed Room House for Sale...",NaN,5,4,"3,500.0 sqft",8.0 perches
...,...,...,...,...,...,...,...,...,...,...,...
7607,7607,House with Land for Sale in Nawala,1 Feb 7:26 am,"Nawala, Colombo",27000000,-Land with a house for sale-Only land value co...,"De Mel Watta Road, Koswatta",3,1,"2,500.0 sqft",9.0 perches
7608,7608,Two Story House for Sale - Kohuwala,1 Feb 8:01 pm,"Kohuwala, Colombo",115000000,Two storey house for sale 5 bedrooms 5 bathroo...,s.de.s jayasinghe road kohuwala,5,5,"4,000.0 sqft",15.5 perches
7609,7609,Brand New Luxury House at Kottawa Rd. Piliyandala,24 Jan 7:29 am,"Piliyandala, Colombo",13700000,Brand new luxury house at kottawa rd. piliyand...,kottawa rd. piliyandala,3,3,"1,456.0 sqft",10.0 perches
7610,7610,2 Storey Facing Paddy Fields House for Sale Ba...,2 Feb 10:30 am,"Battaramulla, Colombo",35000000,2 Storey House Sale is overlooking vast paddy ...,Thalangama North Battharamulla,4,4,"4,200.0 sqft",12.0 perches
7611,7611,Luxury Two Story House Sale For Thalahena,7 Dec 11:37 am,"Battaramulla, Colombo",38000000,Luxury Two Story House Sale For Thalahena,"Muththttugoda Road, Thalahena",4,4,"2,930.0 sqft",10.0 perches

In [22]:
new_houses = []
with open('df', 'rb') as file:
        new_houses = pickle.load(file)

In [24]:
df_new = pd.DataFrame(new_houses)

In [27]:
df_new.columns = cols = ['Title', 'Posted Date', 'Location', 'Price', 'Description', 'Address', 'Beds', 'Baths', 'House Size', 'Land Size']

In [28]:
df_new

,Title,Posted Date,Location,Price,Description,Address,Beds,Baths,House Size,Land Size
0,,,,0,,,0,0,0.0 sqft,0.0 perches
1,Luxury House for sale in Boralesgamuwa,1 Mar 1:06 am,"Boralesgamuwa, Colombo","29,000,000",* Two story 4 bedroom house for sale in Borale...,,4,4,"2,500.0 sqft",11.0 perches
2,Brand New Two Story House for Sale in Kottawa,28 Mar 12:04 pm,"Kottawa, Colombo","25,000,000",Brand New Two Story House in KottawaIdeal for ...,kottawa,4,4,"3,200.0 sqft",7.5 perches
3,House For Sale Kaduwela,6 Mar 7:44 am,"Kaduwela, Colombo","9,800,000",Fully Completed Single Story house for sale i...,"Kalaniya Road, Mabima, Kaduwela",3,2,"1,200.0 sqft",14.0 perches
4,Luxury House for Sale in Piliyandala,6 Feb 6:42 am,"Piliyandala, Colombo","17,000,000",brand new 2 Story modern luxury ARCHITECTUR...,KESBEWA CITY,4,4,"1,950.0 sqft",6.2 perches
...,...,...,...,...,...,...,...,...,...,...
5095,"House for Sale in Baddagana, Pita Kotte",25 Feb 6:10 pm,"Kotte, Colombo","55,000,000","Two storey house for sale in pita kotte, It is...",,7,4,"3,500.0 sqft",15.2 perches
5096,Brand New Mordern House for Sale in Koralaima,15 Mar 6:58 am,"Piliyandala, Colombo","7,800,000","# 2 , ...","Koralaima, Kahatuduwa",3,2,"1,400.0 sqft",7.5 perches
5097,2 Storied House for Sale in Malabe,14 Mar 5:53 pm,"Malabe, Colombo","17,000,000",*- 700 M to 190 Bus Route*- 2.5 km Athurugiriy...,"Bakmeegaha Rd , Malabe.",4,4,"2,000.0 sqft",7.5 perches
5098,New Luxury Ultra Modern Two Story House Malabe,23 Feb 12:53 am,"Malabe, Colombo","27,500,000",# 22 ...,"Vihara Mawatha, Malabe",5,4,"2,200.0 sqft",22.32 perches
5099,Beautiful Completed Two Storied House for Sale...,5 Mar 3:13 pm,"Athurugiriya, Colombo","17,000,000",Full Finished Two Storied House For Sale In A...,"Bakmeegaha Road , Athurugiriya .",4,4,"2,100.0 sqft",7.3 perches

In [39]:
type(pd.concat([df_old.drop(['Unnamed: 0'], axis=1), df_new]).drop(['Title', 'Posted Date', 'Description', 'Address'], axis=1))

pandas.core.frame.DataFrame

In [38]:
pd.concat([df_old.drop(['Unnamed: 0'], axis=1), df_new]).drop(['Title', 'Posted Date', 'Description', 'Address'], axis=1).to_csv('house_data_set_apr.csv')

In [40]:
df_saved = pd.read_csv('./house_data_set_apr.csv')

In [41]:
df_saved

,Unnamed: 0,Location,Price,Beds,Baths,House Size,Land Size
0,0,"Piliyandala, Colombo",12500000,4,2,"1,750.0 sqft",6.5 perches
1,1,"Kottawa, Colombo",29500000,4,4,"3,510.0 sqft",9.0 perches
2,2,"Malabe, Colombo",19000000,4,3,"2,850.0 sqft",7.5 perches
3,3,"Kottawa, Colombo",35000000,7,4,"1,700.0 sqft",15.0 perches
4,4,"Boralesgamuwa, Colombo",29500000,5,4,"3,500.0 sqft",8.0 perches
...,...,...,...,...,...,...,...
12707,5095,"Kotte, Colombo","55,000,000",7,4,"3,500.0 sqft",15.2 perches
12708,5096,"Piliyandala, Colombo","7,800,000",3,2,"1,400.0 sqft",7.5 perches
12709,5097,"Malabe, Colombo","17,000,000",4,4,"2,000.0 sqft",7.5 perches
12710,5098,"Malabe, Colombo","27,500,000",5,4,"2,200.0 sqft",22.32 perches
12711,5099,"Athurugiriya, Colombo","17,000,000",4,4,"2,100.0 sqft",7.3 perches

In [44]:
df_saved['Location'] = df_saved['Location'].apply(lambda x: str(x).replace(', Colombo', ''))

In [45]:
df_saved.head()

   Unnamed: 0       Location     Price Beds Baths    House Size     Land Size
0           0    Piliyandala  12500000    4     2  1,750.0 sqft   6.5 perches
1           1        Kottawa  29500000    4     4  3,510.0 sqft   9.0 perches
2           2         Malabe  19000000    4     3  2,850.0 sqft   7.5 perches
3           3        Kottawa  35000000    7     4  1,700.0 sqft  15.0 perches
4           4  Boralesgamuwa  29500000    5     4  3,500.0 sqft   8.0 perches

In [47]:
df_saved['House Size'] = df_saved['House Size'].apply(lambda x: str(x).replace('sqft', ''))

In [48]:
df_saved['Land Size'] = df_saved['Land Size'].apply(lambda x: str(x).replace('perches', ''))

In [51]:
df_saved['Land Size'] = df_saved['Land Size'].apply(lambda x:  landsize_converter(str(x)))

In [55]:
df_saved.to_csv('house_dataset_apr_processed.csv')

In [58]:
df_saved['House Size'] = df_saved['House Size'].apply(lambda x:  float(str(x).replace(',', '')))

In [61]:
df_saved['Price'] = df_saved['Price'].apply(lambda x:  float(str(x).replace(',', '')))

In [65]:
df_saved['Beds'] = df_saved['Beds'].apply(lambda x:  float(str(x).replace('+', '')))

In [66]:
df_saved['Baths'] = df_saved['Baths'].apply(lambda x:  float(str(x).replace('+', '')))

In [67]:
df_saved.describe()

,Unnamed: 0,Price,Beds,Baths,House Size,Land Size
count,12712.000000,1.271200e+04,12712.000000,12712.000000,12712.000000,12712.000000
mean,3301.598175,2.790595e+07,3.595107,2.859739,2503.372860,23.491028
std,2034.761556,3.708087e+07,1.616019,1.476507,2369.199635,1420.541178
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,1588.750000,1.200000e+07,3.000000,2.000000,1500.000000,7.000000
50%,3177.500000,2.100000e+07,4.000000,3.000000,2500.000000,8.800000
75%,4766.250000,3.000000e+07,4.000000,4.000000,3200.000000,11.000000
max,7611.000000,1.300000e+09,10.000000,10.000000,140000.000000,160000.000000

In [68]:
df_saved.to_csv('house_dataset_apr_processed.csv')

In [69]:
df_saved.isnull().sum()

Unnamed: 0    0
Location      0
Price         0
Beds          0
Baths         0
House Size    0
Land Size     0
dtype: int64

In [72]:
df_saved[df_saved['Land Size'] < 30].shape

(12447, 7)