In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, cross_val_predict, KFold
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, OneHotEncoder, MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn import linear_model
from sklearn.svm import SVR 

import seaborn as sns
from sklearn.decomposition import PCA

C:\Users\Shankeerthan\Anaconda3\envs\learn-ml\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Shankeerthan\Anaconda3\envs\learn-ml\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Shankeerthan\Anaconda3\envs\learn-ml\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
df_single_story = pd.read_csv('./single_story_cleaned_3.csv')

In [4]:
 df_single_story =pd.concat([df_single_story.drop(['Location'], axis=1), pd.get_dummies(list(df_single_story['Location']))], axis=1).drop(['Unnamed: 0.1'], axis=1)

In [5]:
df_single_story.head()

,Unnamed: 0,Price,Beds,Baths,House Size,Land Size,h_l_ratio,Bed Size,beds_bath_ratio,0,...,30,31,32,33,34,35,36,37,38,39
0,0,12500000,4,2,1750.0,6.5,0.988910,437.500000,2.000000,0,...,0,0,0,0,0,1,0,0,0,0
1,1,35000000,7,4,1700.0,15.0,0.416284,242.857143,1.750000,0,...,0,0,0,0,0,0,0,0,0,0
2,2,8900000,3,2,1380.0,6.0,0.844812,460.000000,1.500000,0,...,0,0,0,0,0,0,0,0,0,0
3,3,23000000,5,3,3500.0,20.0,0.642792,700.000000,1.666667,0,...,0,0,0,0,0,0,0,0,0,0
4,4,13000000,3,2,1800.0,10.0,0.661157,600.000000,1.500000,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df_single_story = df_single_story.drop(['Unnamed: 0'], axis=1)

In [7]:
df_single_story.head(1)

,Price,Beds,Baths,House Size,Land Size,h_l_ratio,Bed Size,beds_bath_ratio,0,1,...,30,31,32,33,34,35,36,37,38,39
0,12500000,4,2,1750.0,6.5,0.98891,437.5,2.0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [8]:
import itertools
features = df_single_story.drop(['Price'], axis=1).columns
features_combinations = []
for l in range(1, len(features)+1):
    for feat_comb in itertools.combinations(features, l):
        features_combinations.append(list(feat_comb))

KeyboardInterrupt:

In [9]:
features_important =[
    ['Beds', 'Baths', 'Land Size',1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39 ],
    [ 'Beds', 'Baths','House Size', 'h_l_ratio', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
    [ 'Beds', 'Baths', 'Land Size', 'h_l_ratio', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
    [ 'Beds', 'Baths', 'Land Size', 'Bed Size', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
    [ 'Beds', 'House Size', 'Land Size', 'beds_bath_ratio', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
    [ 'Beds', 'House Size', 'h_l_ratio', 'beds_bath_ratio', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
    [ 'Beds', 'Land Size', 'h_l_ratio', 'beds_bath_ratio', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
    [ 'Beds', 'Baths', 'House Size', 'h_l_ratio', 'beds_bath_ratio', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
    [ 'Beds', 'Baths', 'Land Size', 'h_l_ratio', 'beds_bath_ratio', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
    [ 'Beds', 'Baths', 'h_l_ratio', 'Bed Size', 'beds_bath_ratio', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]  
]

<h1>Try PCA with all posible combinations

In [ ]:
pca_results = []
for index, feat_list in enumerate(features_important):
    for n_comp in range(1, len(feat_list)):
        pca = PCA(n_components=n_comp)
        pca_componets = pca.fit(df[feat_list])
        pc_df = pd.DataFrame(data=pca_componets)
        #RF
        model = RandomForestRegressor(n_jobs=-1)
        X_train, X_test, Y_train, Y_test = train_test_split(
            pc_df[feat_list],
            pc_df['Price'],
            test_size=0.33,
            random_state=42
        )
        estimators = np.arange(10, 400, 10)
        rmse = 0.0
        for n in estimators:
            model.set_params(n_estimators=n)
            model.fit(X_train, Y_train)
            pred_y = model.predict(X_test)
            rmse = np.sqrt(((pred_y - Y_test) ** 2).mean())
            scores.append(model.score(X_test, Y_test))
    max_scores_param.append((max(scores), estimators[scores.index(max(scores))], rmse ))